extends ../../layouts/default.pug
include ../../../client/mixins/pagination.pug
include ../../mixins/search.pug
include ../../mixins/changeMulti.pug
include ../../mixins/alert.pug


block main
    if (role_user.permissions.includes("view_product"))
        -if(messages.success)
            +alert-success(messages.success)
        -if(messages.error)
            +alert-error(messages.error)
        
        h1.mb-5 Danh Sách Sản Phẩm
        .row.mb-4
            .col-md-12
                .form-inline
                    +search()
                    +changeMulti()
                    .create-contrainer
                        a.btn.btn-primary(href="/admin/products/create")
                            i.bi.bi-plus.mr-2
                            | Thêm mới sản phẩm
        .mb-3
            .d-flex.justify-content-between.mt-4
                .d-flex.justify-content-flex-start
                    a.btn.btn-primary.mr-2(href='products?status=all') Tất cả 
                    a.btn.btn-success.mr-2(href='products?status=active') Hoạt động
                    a.btn.btn-secondary(href='products?status=inactive') Không hoạt động
                .container-trash
                    a.trash-link(href='/admin/products/trash')
                        i.fas.fa-trash-alt.mr-2
                        | Thùng rác(#{countTrash})
                


        table.table.table-striped(checkbox-multi)
            thead
                tr
                    th 
                        input(type="checkbox", name="check-all")
                    th STT
                    th Hình ảnh
                    th Tên Sản Phẩm
                    th Danh mục
                    th Giá
                    th Giảm giá
                    th Số Lượng
                    th Vị trí
                    th Trạng thái
                    th Cập nhật lần cuối
                    th Hành động
            tbody
                each product, index in products
                    tr
                        td
                            input(type="checkbox" name="id" value=product._id)
                        td #{index + 1}
                        td 
                            img(src=product.thumbnail, alt="" style="width:100px")
                        td.title #{product.title}
                        if (product.categoryName === "empty")
                            td Trống
                        else 
                            td #{product.categoryName} 
                            
                        td #{product.price} VNĐ
                        -var price = product.price - product.price * (product.discountPercentage / 100)

                        td #{price} VNĐ
                        td #{product.stock}
                        td #{product.position}
                        if (product.status == "active")
                            td
                                button.btn.btn-success.btn-sm.btn-spacing(type="button" data-id=product._id data-status="active") Hoạt động
                        else 
                            td 
                                button.btn.btn-secondary.btn-sm(type="button" data-id=product._id data-status="inactive") Không hoạt động
                        
                        td Admin
                        td  
                            button.btn.btn-info.btn-sm.mr-2.mb-2(type="button") Chi tiết
                            a.btn.btn-warning.btn-sm.mr-2.mb-2(href=`/admin/products/edit/${product._id}`) Sửa
                            button.btn.btn-danger.btn-sm.mb-2(type="button" data-id=product._id data-name="product" button-delete) Xóa
        +pagination(pagination)                    

        form(action="" method="POST" id="form-change-status") 
        form(action="" method="POST" id="form-delete")
    else 
        span Bạn không có quyền truy cập vào trang này